*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
   
    line-height: 1.6;

}
#showcase{
    background-image: url(https://images.unsplash.com/photo-1473116763249-2faaef81ccda?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&auto=format&fit=crop&w=900&q=60);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    color: white;
}

#showcase h1{
    font-size: 50px;
    line-height: 1.2;
    
}
#showcase p{
    font-size: 20px;
}
#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 20px;
   
}
#showcase .button:hover{
    background-color: rgb(241, 11, 118);
    color: rgb(255, 255, 255);
}
#section-a{
    padding: 20px;
    background: rgb(179, 207, 224);
    color: whites;
    text-align: center;
}
#section-b{
    padding: 20px;
   background: rgb(211, 134, 120);
    text-align: center;

}#section-c{
    display: flex;
    
}
#section-c div{
    padding: 20px;
}
#section-c .box-1, #section-c .box-3{
background: rgb(214, 183, 188);
color: whitesmoke;
}